/* General styling for the component */
.organisationComponent {
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Create button styling */
.createButton {
  background-color: var(--light-gray);
  color: var(--black);
  padding: 10px 20px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.createButton:hover {
  background-color: var(--dark-gray);
  color: var(--white);
}

/* Organisations header styling */
.organisationsHeader {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Container for organisation blocks */
.organisationContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Space between blocks */
  padding: 16px;
  /* background-color: var(--background-color-light); */
  /* border-radius: var(--border-radius); */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

/* Styling for the no organisations message */
.noOrganisations {
  font-size: 1rem;
  color: #777;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.buttonContainer {
  display: flex;
  gap: 10px; /* Space between buttons */
}
