/* SettingsComponent.module.css */

.settingsContainer {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: var(--white);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  color: var(--text-color);
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}

.userInfo {
  margin-bottom: 20px;
}

.userInfoItem {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid var(--border-color);
}

.label {
  font-weight: 500;
  color: var(--text-color);
}

.value {
  color: var(--secondary-color);
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button, .logoutButton {
  flex: 1;
  padding: 10px;
  margin: 0 5px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 16px;
}

.button {
  background-color: var(--primary-color);
  color: var(--white);
}

.button:hover {
  background-color: var(--primary-color-hover);
}

.logoutButton {
  background-color: var(--error-color);
  color: var(--white);
}

.logoutButton:hover {
  background-color: #c82333;
}
