/* CollapsibleSection.module.css */

.collapsibleSection {
  margin-bottom: 20px;
}

.header {
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  background-color: var(--background-color-code);
}

.content {
  padding: 10px;
  /* border: 1px solid var(--border-color); */
  border-top: none;
}
