.form {
  padding: 1rem;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: left;
}

.control input,
.control textarea {
  display: block;
  font: inherit;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  padding: 0.25rem;
  width: 100%;
}

.actions {
  margin-top: 1rem;
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: var(--light-gray);
  color: var(--black);
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--light-gray);
  border-radius: var(--border-radius);
  font-weight: bold;
}

.actions button:hover,
.actions button:active {
  background-color: var(--dark-gray);
  color: var(--white);
}

.content {
  padding: 1rem;
}

.radioGroup {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.radioLabel {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-weight: bold;
  cursor: pointer;
}

.radioLabel input {
  margin-right: 10px;
  accent-color: var(--dark-gray);
}

.nameArea {
  display: flex;
  justify-content: space-between;
}
